/* App.css */
.container {
  padding: 20px;
}

.lista-productos, .producto {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 80px;
}

button {
  margin-top: 10px;
}

span {
  font-size: 20px;
}
